@import '~@atlaskit/util-shared-styles/src/grid.less';

@global-open-width: @ak-grid-size * 8;
@global-vertical-padding-top: @ak-grid-size * 3;
@global-vertical-padding-bottom: @ak-grid-size * 2;
@container-closed-width: @ak-grid-size * 8;
@resize-animation-time: 200ms;
@container-navigation-nested-page-spacing: @ak-grid-size;
@drawer-back-icon-size: @ak-grid-size * 5;
@global-item-medium-size: @ak-grid-size * 5;
