@import '~@atlaskit/util-shared-styles/src/colors.less';

.storiesContainer {
  padding: 30px;
}

.triggersContainer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.triggerRestyled {
  border: 1px solid black;
}

.itemsContainer {
  background: @ak-color-N0;
  width: 300px;
  margin-top: 10px;
}
